html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #ffffff;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.mensaje-central {
    width: 100%;
    position: absolute;
    top:200px;
}

.mensaje-central h1{
    text-align: center;
    color: #fff;
    font-size: 30px;
}
.mensaje-central h3{
    text-align: center;
    color: #fff;
    font-size: 20px;
}

.uniremington-logo {    
    position: absolute;
    margin-top:10px;
    margin-left:10px;    
}

.tic-logo {    
    position: absolute;
    margin-top: 70px;
    margin-left: 10px;
}

.campus-logo {    
    position: absolute;
    bottom:5px;
    left:10px;
}